<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ContentEndPoint" value="https://www.reddit.com/hot.json"/>
    <add key="SQLSERVER_CONNECTION_STRING" value="Server=e1bc624e-30ff-4be1-8832-a62c01087ee0.sqlserver.sequelizer.com;Database=dbe1bc624e30ff4be18832a62c01087ee0;User ID=hiffqygyjoqyoyfg;Password=8zLLB4hNUExfMTuBe7KuU8wcnuRZ23fK7MqzuJ5wkGygHitKok3JuYAacHxhkqUZ;"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>